<?xml version="1.0" encoding="UTF-8"?>
<launch4jConfig>
  <dontWrapJar>false</dontWrapJar>
  <headerType>gui</headerType>
  <jar>C:\Users\Kenjy Louise\Desktop\T1C TAC T0E\TICTACTOE.jar</jar>
  <outfile>C:\Users\Kenjy Louise\Desktop\T1C TAC T0E\T1C TAC T0E.exe</outfile>
  <errTitle></errTitle>
  <cmdLine></cmdLine>
  <chdir>.</chdir>
  <priority>normal</priority>
  <downloadUrl></downloadUrl>
  <supportUrl></supportUrl>
  <stayAlive>false</stayAlive>
  <restartOnCrash>false</restartOnCrash>
  <manifest></manifest>
  <icon>C:\Users\Kenjy Louise\Desktop\T1C TAC T0E\icon.ico</icon>
  <classPath>
    <mainClass>T1CTACT0E</mainClass>
    <cp>.</cp>
  </classPath>
  <jre>
    <path>bin\jre</path>
    <requiresJdk>false</requiresJdk>
    <requires64Bit>false</requires64Bit>
    <minVersion></minVersion>
    <maxVersion></maxVersion>
  </jre>
</launch4jConfig>